{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-primary" href="{% url 'locations:adaugare' %}">Adaugare locatii</a>
    <table class="table">
        <thead>
        <tr>
            <th>Index</th>
            <th>City</th>
            <th>Country</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in location_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.country }}</td>
                <td>
                    {% if item.active %}
                        Activ
                    {% else %}
                        Inactiv
                    {% endif %}
                </td>
                <td><a class="btn btn-success" href="{% url 'locations:modificare' item.id %}">Editare</a>
                    {% if item.active %}
                        <a class="btn btn-warning" href="{% url 'locations:stergere' item.id %}">Stergere</a>
                    {% else %}
                        <a class="btn btn-warning" href="{% url 'locations:activare' item.id %}">Activeaza</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
