{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <p>Resetezi parola?</p>
        {% if validlink %}
            <label for="id_new_password1">New passowrd</label>
            <input name="new_password1" id="id_new_password1" class="form-control" type="password">

            <label for="id_new_password2">Confirm password</label>
            <input name="new_password2" id="id_new_password2" class="form-control" type="password">
            <button type="submit" class="btn">Salveaza parola</button>

            {% if form.new_password1.errors %} {{ form.new_password1.errors }} {% endif %}
            {% if form.new_password2.errors %} {{ form.new_password2.errors }} {% endif %}
        {% else %}
            <p>Linkul nu este valid</p>
        {% endif %}
    </form>
{% endblock %}
