{% extends 'base.html' %}

{% block content %}
{% for i in object_list %}
   <div class="article">
       <h3><a href="">{{ i.title }}</a></h3>
       <p>{{ i.text }}</p>
   </div>
{% endfor %}
<div class="d-flex align-items-center">
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a class="btn" href="?page={{ page_obj.previous_page_number }}"><<</a></li>
            {% else %}
                <li class="disabled btn"><span><<</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active btn btn-info"><span>{{ i }}<span class="sr-only">(curent)</span></span></li>
                {% else %}
                    <li><a class="btn" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a class="btn" href="?page={{ page_obj.next_page_number }}">>></a></li>
            {% else %}
                <li class="disabled btn"><span>>></span></li>
            {% endif %}
            <span class="align-right">Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of
        {{ page_obj.paginator.count }}
    </span>
        </ul>
    {% endif %}
</div>
{% endblock content %}

